:root {
    --primary-color: #264653;  /* Dark green */
    --secondary-color: #2A9D8F; /* Teal */
    --background-color: #C9E4DE; /* Light mint */
    --surface-color: #fbf8e4; /* Light beige */
    --text-color: #264653; /* Dark green */
    --text-secondary-color: #2A9D8F; /* Teal */
    --accent-color: #D93A69; /* Pink */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
}

.header-item,
.todo-header-item {
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--surface-color);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-headers, .project {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    background-color: var(--surface-color);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.project-headers {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--surface-color);
}

.project-headers .header-item:last-child,
.project .project-actions {
    text-align: center;
}

.project-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.project-actions button {
    flex: 1;
    background-color: var(--secondary-color);
    border: none;
    color: var(--surface-color);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9em;
    white-space: nowrap;
}

.project-actions button:hover {
    background-color: var(--primary-color);
}

#new-project {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--surface-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

#new-project:hover {
    background-color: var(--primary-color);
}

.todo-list {
    grid-column: 1 / -1;
    margin-top: 10px;
    background-color: var(--surface-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-headers, .todo-item {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.todo-headers {
    background-color: var(--secondary-color);
    color: var(--surface-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px 5px 0 0;
    font-size: 0.9em;
}

.todo-item {
    border-bottom: 1px solid rgba(38, 70, 83, 0.1);
    background-color: var(--surface-color);
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-title {
    font-weight: bold;
    color: var(--primary-color);
}

.todo-description {
    color: var(--text-color);
}

.todo-due-date {
    color: var(--secondary-color);
}

.todo-actions {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.todo-actions button, .new-todo-button {
    flex: 1;
    background-color: var(--primary-color);
    border: none;
    color: var(--surface-color);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9em;
    white-space: nowrap;
}

.todo-actions button:hover, .new-todo-button:hover {
    background-color: var(--secondary-color);
}

.new-todo-button {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 10px;
}